<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
      <button ion-button (click)="backClick()">
        <ion-icon name="arrow-dropleft" style="font-size: 2.5em"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="itinerarySearch()">
      <ion-icon name="add" style="font-size: 25px"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Itinerary</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let todo of todos"> 

  <ion-item> 
    <h2>{{todo.name}}</h2>
  </ion-item> 

  <!-- <a ion-item href="{{todo.link}}"> -->
    <a ion-item (click)="goToLink(todo.link)"> 
      <img src="{{todo.img}}"></a>   

  
  
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="postLike(todo.id, todo.like)">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{todo.like}} Good Idea </div>
      </button>
    </ion-col>

    <ion-col>
      <button ion-button icon-left clear small (click)="postUnlike(todo.id, todo.unlike)">
        <ion-icon name="thumbs-down"></ion-icon>
        <div>{{todo.unlike}} Nah</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        <a>{{todo.date}}</a>
      </ion-note>
    </ion-col>
  </ion-row>
    <ion-item>
      <ion-label (click)="submitDate(todo.id)">Submit Date</ion-label>
      <ion-select [(ngModel)]="day">
        <ion-option *ngFor="let n of allDays"value="{{n}}">{{n}}</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="month">
        <ion-option>January</ion-option>
        <ion-option>February</ion-option>
        <ion-option>March</ion-option>
        <ion-option>April</ion-option>
        <ion-option>May</ion-option>
        <ion-option>June</ion-option>
        <ion-option>July</ion-option>
        <ion-option>August</ion-option>
        <ion-option>September</ion-option>
        <ion-option>October</ion-option>
        <ion-option>November</ion-option>
        <ion-option checked="true">December</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="year">
        <ion-option>2017</ion-option>
        <ion-option>2018</ion-option>
        <ion-option>2019</ion-option>
        <ion-option checked="true">2020</ion-option>
        <ion-option>2021</ion-option>
      </ion-select>
    </ion-item>

</ion-card> 

</ion-content>